body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}
.nav-wrapper{
  background-color: red;
  height: 32px;
  padding-top: 10px;
}
.nav-wrapper .container {
  margin-left: auto;
  width: fit-content;
  margin-right: 20px;
}
.card {
  border: 1px solid grey;
  margin: 30px 20px 0px 20px;
  background-color: white;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.card .card-content{
  margin-left: 24vw;
}
.card img{
  opacity: 0.6;
  height: 93px;
}
.card span{
  font-weight: 700;
}

